<template>
  <div>
    <v-card>
      <v-card-text>
        <json-forms
          :schema="schema"
          :uischema="uiSchema"
          :data="formData"
          :renderers="vuetifyRenderers"
          :i18n="i18n"
          @change="onChange"
        ></json-forms>
      </v-card-text>
      <v-card-actions class="pa-6">
        <v-btn @click="onCancel">{{ t('button_cancel_label') }}</v-btn>
        <v-spacer />
        <v-btn color="primary" :disabled="!isFormValid" @click="onCreate">{{
          t('organization-create-confirm-button')
        }}</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script setup lang="ts">
import { useAlert } from '@/composable/useAlert';
import { useLocale, useTranslationNamespace } from '@/composable/useI18n';
import { createOrganization } from '@/core/organizations';
import { ResponseError } from '@/generated/openapi';
import { JsonForms, JsonFormsChangeEvent } from '@jsonforms/vue';
import { vuetifyRenderers } from '@pvale/vue-vuetify';
import { computed, onBeforeUnmount, ref, unref } from 'vue';
import { onBeforeRouteLeave, useRouter } from 'vue-router';
import { open as openDialog } from '@/composable/useGlobalDialog';
import { extractErrorMessageAsync } from '@/utils/error/extractMessage';
import { NavigationFailureType, isNavigationFailure } from 'vue-router';
import { ErrorObject } from 'ajv';
import {
  createJsonFormsErrorTranslator,
  createJsonFormsTranslator,
  I18nNamespace,
} from '@/i18n';
import { JsonFormsI18nState } from '@jsonforms/core';

const t = useTranslationNamespace(I18nNamespace.KeyManager);
const router = useRouter();
const isSubmitting = ref(false);

const { locale } = useLocale();
const i18n = computed(() => {
  return {
    locale: unref(locale),
    translate: createJsonFormsTranslator(I18nNamespace.KeyManager),
    translateError: createJsonFormsErrorTranslator(unref(locale)),
  };
}) as JsonFormsI18nState;

const confirmLeave = async () => {
  try {
    await openDialog({
      type: 'confirm',
      title: undefined,
      message: t('confirm-leave-page-with-unsaved-changes'),
      confirmButtonText: 'confirm-leave-page-confirm-button',
      persistent: false,
    });
    return true;
  } catch (_e) {
    const errorMessage = await extractErrorMessageAsync(_e, false);
    if (errorMessage) alertError(errorMessage);
    return false;
  }
};

const confirmLeaveDirtyForm = async () => {
  if (!hasUnsavedChanges.value) return true;
  return await confirmLeave();
};

const goBack = () => {
  router.push({ name: 'keymanager.index.choose-org' }).catch((failure) => {
    // Handle the case when the navigation was aborted by a navigation guard
    // Prevent the error from being logged to the console
    if (isNavigationFailure(failure, NavigationFailureType.aborted)) {
      return;
    }

    // Re-throw the error to be caught by other error handlers
    throw failure;
  });
};

const { alertError, alertSuccess } = useAlert();
const formData: Record<string, any> = ref({});
const errors = ref<ErrorObject[] | null>(null);

const schema = {
  type: 'object',
  properties: {
    name: {
      type: 'string',
    },
    memberId: {
      type: 'integer',
    },
  },
  required: ['name', 'memberId'],
};

const uiSchema = {
  type: 'HorizontalLayout',
  elements: [
    {
      type: 'Control',
      scope: '#/properties/name',
      label: 'Organization name',
      options: {
        focus: true,
      },
    },
    {
      type: 'Control',
      scope: '#/properties/memberId',
      label: 'Crossref ID',
      options: {
        focus: true,
      },
    },
  ],
};

const formHasErrors = computed(
  () => errors.value instanceof Array && errors.value.length > 0
);

const isFormValid = computed(() => {
  return !formHasErrors.value;
});

const onChange = (event: JsonFormsChangeEvent) => {
  formData.value = event.data;
  errors.value = event.errors || null;
};
const onCancel = async () => {
  goBack();
};
const onCreate = async () => {
  isSubmitting.value = true;
  try {
    const createResult = await createOrganization({
      organization: {
        name: formData.value?.name,
        memberId: formData.value?.memberId,
      },
    });
    alertSuccess(t('keys_createOrganisationSuccess', { name: createResult.name}));
    router.push({
      name: 'keymanager.organizations.read',
      params: {
        memberId: formData.value?.memberId,
      },
    });
  } catch (e) {
    isSubmitting.value = false;
    let message;
    if (e instanceof ResponseError) {
      const text = await e.response.json();
      message = text?.message.length ? text?.message : e.message;
    } else {
      if (e instanceof Error) {
        message = e.message;
      }
    }
    alertError(message);
  }
};
const hasUnsavedChanges = computed(() => {
  if (
    (formData.value?.name && formData.value.name.length > 0) ||
    (formData.value?.memberId &&
      formData.value.memberId != null &&
      !isNaN(formData.value.memberId))
  ) {
    return true;
  } else {
    return false;
  }
});
// Register the window.onbeforeunload event
window.addEventListener('beforeunload', handleBeforeUnload);

// Register the beforeRouteLeave navigation guard
onBeforeRouteLeave(async (to, from, next) => {
  if (isSubmitting.value) {
    next();
  } else {
    const leave = await confirmLeaveDirtyForm();
    if (leave) {
      next(); // Allow navigation
    } else {
      next(false); // Cancel navigation
    }
  }
});

// Cleanup the event listener when the component is unmounted
onBeforeUnmount(() => {
  window.removeEventListener('beforeunload', handleBeforeUnload);
});

function handleBeforeUnload(event: BeforeUnloadEvent) {
  if (hasUnsavedChanges.value) {
    event.preventDefault();
    // Display the browser's built-in confirmation dialog (most browsers will only show their own default text)
    event.returnValue = t('confirm-leave-page-with-unsaved-changes');
  }
}
</script>

<style scoped>

</style>
