<script setup lang="ts">
import {
  JsonFormsUISchemaRegistryEntry,
  JsonSchema,
  UISchemaElement,
} from '@jsonforms/core';
import CustomJsonForms from '@/forms/components/common/CustomJsonForms.vue';
import { ErrorObject } from 'ajv';
import {computed} from "vue";
import { useTranslationNamespace } from '@/composable/useI18n';
import { I18nNamespace } from '@/i18n';

type Props = {
  jsonSchema: JsonSchema;
  formData: Record<string, any>;
  uiSchema: UISchemaElement;
  uiSchemas?: JsonFormsUISchemaRegistryEntry[];
  renderers?: any[];
  config?: any;
  hasIssueMetadata: boolean;
  showIssueStep: boolean;
};

const props = defineProps<Props>();
type ErrorsUpdatedPayload = { errors: ErrorObject[] };
type ChangePayload = any;

const emit = defineEmits<{
  (event: 'update:errors', payload: ErrorsUpdatedPayload): void;
  (event: 'change', payload: ChangePayload): void;
  (event: 'add-issue-metadata'): void;
}>();

const onChange = (event) => {
  emit('change', event);
};

const handleErrors = (errors) => {
  emit('update:errors', errors);
};

const t = useTranslationNamespace(I18nNamespace.ContentRegistration);

const hideAddIssueButton = computed(() => props.showIssueStep || props.hasIssueMetadata)
</script>

<template>
  <custom-json-forms
    class="mt-2"
    v-bind="props"
    @update:errors="handleErrors"
    @change="onChange"
  ></custom-json-forms>
  <v-btn
    v-if="!hideAddIssueButton"
    prepend-icon="mdi-plus"
    class="float-end mt-4"
    color="accent"
    variant="outlined"
    @click="emit('add-issue-metadata')"
    >{{ t('records_editForm_addIssueMetadataButton_text') }}</v-btn
  >
</template>

