<template>
  <v-locale-provider>
    <control-wrapper
      ref="wrapperRef"
      v-bind="controlWrapper"
      :styles="styles"
      :isFocused="isFocused"
      :appliedOptions="appliedOptions"
    >
      <horizontal-label-wrapper :applied-options="appliedOptions">
        <template #label>{{ computedLabel }}</template>
        <v-hover v-slot="{ isHovering }">
        <info-text :msg="infoText.msg" :learn-more-link="infoText.link" :title="computedLabel"/>
        <v-text-field
          :id="control.id + '-input'"
          :class="styles.control.input"
          :disabled="!control.enabled"
          :autofocus="appliedOptions.focus"
          :placeholder="appliedOptions.placeholder"
          :label="computedLabel"
          :hint="description"
          :persistent-hint="persistentHint()"
          :required="control.required"
          :error-messages="filteredErrors"
          :maxlength="
          appliedOptions.restrict ? control.schema.maxLength : undefined
        "
          :counter="
          control.schema.maxLength !== undefined
            ? control.schema.maxLength
            : undefined
        "
          :clearable="isHovering"
          v-bind="vuetifyProps('v-text-field')"
          :model-value="control.data"
          @update:model-value="localOnChange"
          @focus="isFocused = true"
          @blur="localHandleBlur"
        >
        </v-text-field>
        </v-hover>
        <dev-control-info :control="toRef(control)"></dev-control-info>
      </horizontal-label-wrapper>
    </control-wrapper>
  </v-locale-provider>
</template>

<script lang="ts">
import { ControlElement, isStringControl, JsonFormsRendererRegistryEntry, rankWith } from '@jsonforms/core';
import { defineComponent, ref, computed, watch, inject, toRef } from 'vue';
import { rendererProps, RendererProps, useJsonFormsControl } from '@jsonforms/vue';
import { ControlWrapper, useVuetifyControl } from '@pvale/vue-vuetify';
import DevControlInfo from '@/forms/components/common/DevControlDetails.vue';
import HorizontalLabelWrapper from '@/forms/components/renderers/HorizontalLabelWrapper.vue';
import InfoText from '@/forms/components/common/InfoText.vue';
import { debounce } from 'lodash';
import { JsonFormsI18nStateSymbol } from "@/constants/injectionKeys";
import BaseTextInput from './controls/BaseTextInput.vue';
import {DEFAULT_FORM_INPUT_DEBOUNCE_WAIT, useInfoText} from "@/forms/compositions";
import { formatDoiInput, transformOrcidInput } from "@/utils/helpers";
import {env} from "@/env";
import {trim} from "@/forms/utils/format";
import { DEFAULT_FORM_DEBOUNCE_WAIT_MS } from '@/constants/forms';

const DoiRenderer = defineComponent({
  name: 'DoiRenderer',
  methods: {toRef},
  components: {
    HorizontalLabelWrapper,
    DevControlInfo,
    InfoText,
    ControlWrapper,
    BaseTextInput,
  },
  props: {
    ...rendererProps<ControlElement>(),
  },
  setup(props: RendererProps<ControlElement>) {
    const wrapperRef = ref(null);
    const i18n = inject(JsonFormsI18nStateSymbol, null);

    const vControl = useVuetifyControl(
      useJsonFormsControl(props),
      (value) => value || undefined
    );

    const debouncedChange = debounce(
      vControl.onChange,
      vControl.appliedOptions.value?.debounceWait
      || DEFAULT_FORM_DEBOUNCE_WAIT_MS
    );
    const immediateChange = (value: unknown) => {
      vControl.onChange(value)
    }

    const localOnChange = (value) => {
      debouncedChange(value)
    }

    const localHandleBlur = (event) => {
      debouncedChange.flush()

      // Destructuring for readability.
      // Reactivity is lost, which is OK, as we don't want to process reactive updates mid-function.
      const { data } = vControl.control.value;
      const { appliedOptions } = vControl;

      const updatedValue = typeof data === 'string'
        ? formatDoiInput(trim(data, appliedOptions))
        : data;

      immediateChange(updatedValue);
      vControl.handleBlur()
    }

    const infoText = useInfoText(vControl, i18n);
    const description = computed(() => {
      return infoText.msg.value ? '' : vControl.control.value.description;
    });

    return {
      wrapperRef,
      localHandleBlur,
      description,
      infoText,
      i18n,
      ...vControl,
      localOnChange,
    };
  },
});

export default DoiRenderer;

</script>
