<template>
  <control-wrapper
    v-bind="controlWrapper"
    :styles="styles"
    :isFocused="isFocused"
    :appliedOptions="appliedOptions"
  >
    <v-hover v-slot="{ isHovering, props }">
    <horizontal-label-wrapper applied-options="appliedOptions" v-bind="props">
      <template #label>{{ computedLabel }}</template>
      <info-text :msg="infoText.msg" :learn-more-link="infoText.link" :title="computedLabel"/>
      <v-autocomplete
        v-disabled-icon-focus
        :id="control.id + '-input'"
        :class="styles.control.input"
        :disabled="!control.enabled"
        :autofocus="appliedOptions.focus"
        :placeholder="appliedOptions.placeholder"
        :label="computedLabel"
        :hint="control.description"
        :persistent-hint="persistentHint()"
        :required="control.required"
        :error-messages="control.errors"
        :clearable="isHovering"
        :model-value="control.data"
        :items="items"
        :item-title="(item) => `${item.name} (${item.code})`"
        item-value="code"
        :auto-select-first="appliedOptions.autoSelectFirst"
        :filter-keys="['title', 'raw.nativeName']"
        :open-on-clear=true
        v-bind="vuetifyProps('v-autocomplete')"
        @update:model-value="handleChange"
        @focus="isFocused = true"
        @blur="handleBlur"
      >
        <template #item="{ props, item }">
          <v-list-item v-bind="props">
            <template #title>
              <div class="list-item-text">{{ item.title }}</div>
            </template>
            <template #default>
              <div class="list-item">
                {{ item.raw.nativeName }}
              </div>
            </template>
          </v-list-item>
        </template>
      </v-autocomplete>
    </horizontal-label-wrapper>
    </v-hover>
  </control-wrapper>
</template>

<script lang="ts">
import {
  ControlElement,
} from '@jsonforms/core';
import {
  rendererProps,
  RendererProps,
  useJsonFormsEnumControl,
} from '@jsonforms/vue';
import {defineComponent, inject, ref, toRef} from 'vue';
import { VAutocomplete, VHover, VSelect } from 'vuetify/components';
import { ControlWrapper } from '@pvale/vue-vuetify';
import { DisabledIconFocus } from '@pvale/vue-vuetify';
import { useVuetifyControl } from '@pvale/vue-vuetify';
import HorizontalLabelWrapper from "@/forms/components/renderers/HorizontalLabelWrapper.vue";
import InfoText from "@/forms/components/common/InfoText.vue";
import {JsonFormsI18nStateSymbol} from "@/constants/injectionKeys";
import { useInfoText } from "@/forms/compositions";
import DevControlDetails from '../common/DevControlDetails.vue';
import localeCode, {LanguageCode} from "iso-639-1";
import {getLanguageList} from "@/forms/utils/i18nUtil";

type ListItems = ReturnType<typeof localeCode['getLanguages']>;

const controlRenderer = defineComponent({
  name: 'language-chooser-renderer',
  methods: {ref},
  components: {
    InfoText,
    HorizontalLabelWrapper,
    ControlWrapper,
    VSelect,
    VAutocomplete,
    VHover,
    DevControlDetails,
  },
  directives: {
    DisabledIconFocus,
  },
  props: {
    ...rendererProps<ControlElement>(),
  },
  setup(props: RendererProps<ControlElement>) {
    const control = useVuetifyControl(
      useJsonFormsEnumControl(props),
      (value) => (value !== null ? value : undefined),
      300
    );

    const i18n = inject(JsonFormsI18nStateSymbol, null);
    const infoText = useInfoText(control, i18n);
    const items: ListItems = getLanguageList()
    const handleChange = (event) => {
      console.log('abstract language change:', event)
      control.onChange(event);
    }

    return { ...control, infoText, toRef, items, handleChange };
  },
});

export default controlRenderer;

</script>

<style scoped>
.list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.list-item-text {
  font-weight: bold;
}
</style>
