<template>
  <div v-if="appliedOptions.reviewMode">
    <div v-if="control.visible">
      <dispatch-renderer
        :visible="control.visible"
        :enabled="control.enabled"
        :schema="detailSchema"
        :uischema="detailUiSchema"
        :path="control.path"
        :renderers="control.renderers"
        :cells="control.cells"
      />
    </div>
  </div>
  <div v-else>
    <h4 v-if="!hasAtLeastOneDate" color="error">
      {{ t('form-publicationdates-no-dates-warning') }}
    </h4>
    <div v-if="control.visible">
      <dispatch-renderer
        :visible="control.visible"
        :enabled="control.enabled"
        :schema="detailSchema"
        :uischema="detailUiSchema"
        :path="control.path"
        :renderers="control.renderers"
        :cells="control.cells"
      />
    </div>
  </div>
</template>

<script lang="ts">
import {
  ControlElement,
  findUISchema,
  Generate,
  GroupLayout,
  Internationalizable,
  isGroup,
  isLayout,
  JsonFormsRendererRegistryEntry,
  UISchemaElement,
} from '@jsonforms/core';
import isEmpty from 'lodash/isEmpty';
import cloneDeep from 'lodash/cloneDeep';
import {
  DispatchRenderer,
  rendererProps,
  RendererProps,
  useJsonFormsControlWithDetail,
} from '@jsonforms/vue';
import { computed, defineComponent, ref, unref } from 'vue';
import { useNested, useVuetifyControl } from '@pvale/vue-vuetify';
import { hasAtLeastOnePropertyWithValue } from '@/utils/helpers';
import { I18nNamespace } from '@/i18n';
import { useTranslationNamespace } from '@/composable/useI18n';

/**
 * A Vue component to render publication dates using the JSON Forms library.
 */
const controlRenderer = defineComponent({
  name: 'PublicationDatesRenderer',
  components: {
    DispatchRenderer,
  },
  props: {
    // Extends rendererProps to inject JSON Forms specific props for ControlElement.
    ...rendererProps<ControlElement>(),
  },
  setup(props: RendererProps<ControlElement>) {
    const t = useTranslationNamespace(I18nNamespace.ContentRegistration);
    // Provides JSON Forms control object with Vuetify integration.
    const control = useVuetifyControl(useJsonFormsControlWithDetail(props));
    // Custom hook for handling nested JSON Forms objects.
    const nested = useNested('object');

    // Computed property to check if at least one date property has a value.
    const hasAtLeastOneDate = computed(() => {
      return (
        control.control.value.data &&
        hasAtLeastOnePropertyWithValue(control.control.value.data)
      );
    });

    // Computed property for deriving the detail schema from the control's schema.
    const detailSchema = computed(() => {
      return unref(control.control.value.schema);
    });

    return {
      t,
      ...control,
      nested,
      detailSchema,
      hasAtLeastOneDate,
    };
  },
  computed: {
    /**
     * Computes the UI schema for rendering the control, taking into account the nesting level
     */
    detailUiSchema(): UISchemaElement {
      const uiSchemaGenerator = () => {
        const uiSchema = Generate.uiSchema(this.control.schema, 'Group');
        if (isEmpty(this.control.path)) {
          uiSchema.type = 'VerticalLayout';
        } else {
          (uiSchema as GroupLayout).label = this.control.label;
        }
        return uiSchema;
      };

      let result = findUISchema(
        this.control.uischemas,
        this.control.schema,
        this.control.uischema.scope,
        this.control.path,
        uiSchemaGenerator,
        this.control.uischema,
        this.control.rootSchema
      );

      if (this.nested.level > 0) {
        result = cloneDeep(result);
        result.options = {
          // Modifies UI based on nesting level for aesthetic adjustments.
          bare: true,
          alignLeft:
            this.nested.level >= 4 || this.nested.parentElement === 'array',
          ...result.options,
        };
      }

      // Adjusts group label based on the object label unless an 'i18n' key is explicitly set.
      if (
        isLayout(result) &&
        isGroup(result) &&
        !(result as Internationalizable).i18n
      ) {
        (result as GroupLayout).label = this.control.label;
      }

      return result;
    },
  },
});

export default controlRenderer;
</script>
