<template>
  <div>
    <api-keys-table v-if="apiKeys" :api-keys="apiKeys" :member-id="memberId">
    </api-keys-table>
  </div>
</template>

<script setup lang="ts">
import { useApiKeys } from '@/core/apiKeys';
import ApiKeysTable from '@/components/Organizations/ApiKeysTable.vue';

const _props = defineProps<{ memberId: number }>();
const { apiKeys, load } = useApiKeys(_props.memberId);

load();
</script>

<style scoped>

</style>
