<template>
  <div>
    <v-row>
      <v-col>
        <p>{{ t('keys_searchForOrganisations') }}</p>
        <organization-search @selected="onSelected"></organization-search>
      </v-col>
    </v-row>
    <v-row v-if="userInfo.isStaff.value">
      <v-card class="mt-8 pa-4 pb-8 mb-8" width="100%">
        <v-card-title>{{ t('keys_createNewOrganisation') }}</v-card-title>
        <v-card-subtitle>{{ t('keys_startCreatingANewOrganisation') }}</v-card-subtitle>
        <v-card-actions>
          <v-btn color="primary" @click="onCreateNewOrganization"
            >{{ t('keys_createNewOrganisation') }}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-row>
    <router-view></router-view>
  </div>
</template>

<script setup lang="ts">
import OrganizationSearch from '@/components/Organizations/OrganizationSearch.vue';
import { useUserInfo } from '@/composable/useAuth';
import { useTranslationNamespace } from '@/composable/useI18n';
import { useRouter } from 'vue-router';
import { I18nNamespace } from '@/i18n';

const router = useRouter();

const t = useTranslationNamespace(I18nNamespace.KeyManager);

const onSelected = (event) => {
  router.push({
    name: 'keymanager.organizations.read',
    params: {
      memberId: event,
    },
  });
};

const onCreateNewOrganization = () => {
  router.push({
    name: 'keymanager.organizations.create',
  });
};
const userInfo = useUserInfo();
</script>
