<template>
  <div>
    <v-data-table
      :headers="(headers as any)"
      :items="users"
      class="organization-users-table"
    >
      <template #item.actions="{ item }">
        <v-menu location="bottom left" data-test-id="modify-user-menu-trigger">
          <template #activator="{ props }">
            <v-btn v-if="canModifyUsers" icon v-bind="props" variant="flat">
              <v-icon size="small">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item @click="$emit('deleteUser', item)">
              <v-list-item-title>Delete</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
      <template #top>
        <v-toolbar flat>
          <v-toolbar-title>{{
            $t('resource-manager-organisation-users_title', 'Users')
          }}</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
      </template>
      <template #footer.prepend>
        <v-dialog
          :model-value="showDialog"
          max-width="500px"
          content-class="add-new-organization-user-dialog"
          @update:model-value="(v) => v || inputEventHandler()"
        >
          <template #activator="{ props }">
            <v-btn
              v-if="canModifyUsers"
              color="secondary"
              v-bind="props"
              rounded
              class="organization-users-card__add-new-user-button me-auto"
              data-test-id="add-organization-user-button"
              @click="$emit('openAddUserDialog')"
            >
              <v-icon>mdi-plus</v-icon>
              {{ $t('arraylayout_add') }}
            </v-btn>
          </template>
          <v-card :loading="dialogLoading">
            <v-card-title>
              <span class="text-h5">{{ dialogTitle }}</span>
            </v-card-title>

            <v-card-text>
              <json-forms
                :schema="newUserNameFormSchema"
                :uischema="newUserNameFormUiSchema"
                :data="addUserFormData"
                :renderers="vuetifyRenderers"
                @change="onNewUserNameFormChange"
              ></json-forms>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                variant="text"
                @click="handleCloseAddNewUserDailog"
              >
                Cancel
              </v-btn>
              <v-btn
                variant="text"
                class="organization-users-card__save-new-user-button"
                data-test-id="organization-users-card__add-new-user-button"
                :disabled="hasAddUserFormErrors"
                @click="handleAddUserClick"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
    </v-data-table>
  </div>
</template>

<script setup lang="ts">
import { useUserInfo } from '@/composable/useAuth';
import { User } from '@/generated/openapi';
import { computed, ref, unref } from 'vue';
import { JsonForms, JsonFormsChangeEvent } from '@jsonforms/vue';
import { vuetifyRenderers } from '@pvale/vue-vuetify';
import { ErrorObject } from 'ajv';
import type { VDataTable } from 'vuetify/components';

const { isStaff } = useUserInfo();
const emit = defineEmits([
  'addUserFormUpdated',
  'addUser',
  'deleteUser',
  'openAddUserDialog',
  'closeAddUserDialog',
]);

const _props = defineProps<{
  canModifyUsers: boolean;
  showDialog: boolean;
  dialogLoading: boolean;
  dialogTitle: string;
  users: User[];
  addUserFormData: Record<string, any>;
}>();

const errors = ref<ErrorObject[] | undefined>([]);

/**
 * Called when a user clicks outside the dialog, triggering a close event
 */
const inputEventHandler = () => {
  handleCloseAddNewUserDailog();
};
const headers: VDataTable['$props']['headers'] = [
  {
    title: 'email',
    key: 'username',
  },
  {
    title: '',
    key: 'actions',
    align: 'end',
  },
];
let newUsername = ref('');

const newUserNameFormSchema = {
  properties: {
    username: {
      type: 'string',
      format: 'email',
    },
  },
  required: ['username'],
};

const newUserNameFormUiSchema = {
  type: 'Control',
  scope: '#/properties/username',
  label: 'User Email',
  options: {
    focus: true,
  },
};

const addUserFormData: Record<string, any> = ref({});
const onNewUserNameFormChange = (event: JsonFormsChangeEvent) => {
  emit('addUserFormUpdated', event.data);
  newUsername.value = event.data.username;
  errors.value = event.errors;
};
const handleAddUserClick = () => {
  emit('addUser', unref(newUsername));
};
const handleCloseAddNewUserDailog = () => {
  emit('closeAddUserDialog');
};
const hasAddUserFormErrors = computed(
  () => errors.value && errors.value?.length > 0
);
</script>
