<template>
  <div>
    <v-card v-if="myOrganization?.orgId" class="organization-card">
      <v-card-title>{{ myOrganization.name }}</v-card-title>
      <v-card-subtitle>{{
        keysT('keys_organisationSettings')
      }}</v-card-subtitle>
      <v-card-text>
        <v-list lines="two" class="pl-0 organization-settings-list">
          <v-list-item class="organization-card__organization-name">
            <template #append>
              <v-list-item-action end>
                <v-btn
                  v-if="isStaff"
                  icon
                  variant="flat"
                  class="organization-card__edit-name-button"
                  @click="onEditOrganizationName"
                >
                  <v-icon color="grey-lighten-1">mdi-pencil</v-icon>
                </v-btn>
              </v-list-item-action>
            </template>
            <v-list-item-title>
              {{
                keysT('keys_organizationName', 'Organization name')
              }}
            </v-list-item-title>
            <v-list-item-subtitle>{{
              myOrganization.name
            }}</v-list-item-subtitle>
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item class="organization-card__crossref-id">
            <v-list-item-title>
              {{ keysT('keys_organizationCrossrefId', 'Crossref ID') }}
            </v-list-item-title>
            <v-list-item-subtitle>{{
              myOrganization.memberId
            }}</v-list-item-subtitle>
          </v-list-item>
        </v-list>
      </v-card-text>
    </v-card>
  </div>
</template>

<script setup lang="ts">
import { Organization } from '@/generated/openapi';
import { open as openDialog } from '@/composable/useGlobalDialog';
import { useUserInfo } from '@/composable/useAuth';
import { useTranslationNamespace } from '@/composable/useI18n';
import { I18nNamespace } from '@/i18n';

const keysT = useTranslationNamespace(I18nNamespace.KeyManager);

const { isStaff } = useUserInfo();
const _props = defineProps<{
  loading: boolean;
  myOrganization: Organization | undefined;
}>();
const emit = defineEmits<{
  (e: 'orgNameChangeRequest', orgId: string, newName: string): void;
}>();
const onEditOrganizationName = async () => {
  try {
    const userInput = await openDialog({
      type: 'input',
      title: 'Edit name',
      textValue: _props.myOrganization?.name,
    });
    emit(
      'orgNameChangeRequest',
      _props.myOrganization?.orgId ?? '',
      userInput.toString()
    );
  } catch (_e) {
    // The user has cancelled the confirmation dialog
  }
};
</script>

<style scoped>
.organization-card .v-list-item {
  padding-left: 0;
}
</style>
