<template>
  <!-- OrganizationSearch Component -->
  <div>
    <!-- Displays the selected organization's name -->
    <h4>{{ selectedOrganization }}</h4>
    <!-- Autocomplete input for searching organizations -->
    <v-autocomplete
      :model-value="model"
      data-test-id="search-for-organizations-input"
      :items="formattedResults"
      item-title="combinedField"
      item-value="memberId"
      class="search-for-organizations"
      :menu-props="{ contentClass: 'search-for-organisations-results' }"
      :placeholder="placeholder"
      @update:model-value="$emit('selected', $event)"
      @update:search="updateOrgs($event)"
    >
    </v-autocomplete>
  </div>
</template>

<script setup lang="ts">
import { useAuth, useUserInfo } from '@/composable/useAuth';
import { useTranslationNamespace } from '@/composable/useI18n';
import { getOrganizationsVisibleToUser } from '@/core/organizations';
import { Organization } from '@/generated/openapi';
import { computed, ref, Ref, watch } from 'vue';
import { I18nNamespace } from '@/i18n';

const t = useTranslationNamespace(I18nNamespace.KeyManager);

// Define the event emitter types
defineEmits<{
  (e: 'selected', id: number|null): void;
}>();

const auth = useAuth();
const userInfo = useUserInfo();
const model = ref(null);
const searchResults: Ref<Organization[]> = ref([]);
const selectedOrganization = ref('');

/**
 * Computed property to generate placeholder text for the autocomplete input.
 */
const placeholder = computed(() => t('keys_searchForOrganisations_placeholder'))

/**
 * Updates the list of organizations based on the provided search query.
 *
 * @async
 * @function updateOrgs
 * @param {string | null} query - The search query string.
 */
const updateOrgs = async (query?: string | null) => {
  await auth.initialized;
  searchResults.value = await getOrganizationsVisibleToUser(userInfo, query);
};

/**
 * Computed property that formats each organization's data for display.
 * Combines 'name' and 'memberId' fields into a single string.
 */
const formattedResults = computed(() => {
  return searchResults.value.map((org) => ({
    ...org,
    combinedField: `${org.name} : ${org.memberId}`,
  }));
});

// Initial call to update organizations list
updateOrgs();
</script>
