<template>
  <div>
    <subscription-switch
      v-if="isStaff"
      :active="active"
      :loading="getLoadingColor"
      readonly
      :disabled="!isStaff"
      :member-id="memberId"
      :subscription="subscription"
      @changeRequestConfirmed="onChangeSubscriptionConfirmed"
      @changeRequestStart="onChangeSubscriptionStart"
      @changeRequestCancelled="onChangeSubscriptionCancelled"
    ></subscription-switch>
    <subscription-status-text
      v-else
      :active="active"
    ></subscription-status-text>
  </div>
</template>

<script setup lang="ts">
import { Subscription, SubscriptionChangeRequest } from '@/core/subscriptions';
import { useLoadingColors } from '@/composable/useLoadingColors';
import { computed } from 'vue';
import { open as openDialog } from '@/composable/useGlobalDialog';
import { useUserInfo } from '@/composable/useAuth';
import SubscriptionSwitch from './SubscriptionSwitch.vue';
import SubscriptionStatusText from './SubscriptionStatusText.vue';
const { isStaff } = useUserInfo();
const loading = useLoadingColors();
const _props = defineProps<{
  memberId: number;
  subscription: Subscription;
  active: boolean;
  loading: string | boolean;
}>();
// TODO: this could probably be simplified by emitting a promise instead
const emit = defineEmits<{
  (e: 'changeRequestStart', request: SubscriptionChangeRequest): void;
  (e: 'changeRequestConfirmed', request: SubscriptionChangeRequest): void;
  (e: 'changeRequestCancelled', request: SubscriptionChangeRequest): void;
}>();
const getLoadingColor = computed(() => {
  return _props.loading ? loading.color.value : false;
});
const onChangeSubscriptionConfirmed = (request: SubscriptionChangeRequest) => {
  emit('changeRequestConfirmed', request);
};
const onChangeSubscriptionStart = (request: SubscriptionChangeRequest) => {
  emit('changeRequestStart', request);
};
const onChangeSubscriptionCancelled = (request: SubscriptionChangeRequest) => {
  emit('changeRequestCancelled', request);
};
</script>
