<template>
  <div>
    <v-card class="subscription-card">
      <v-card-title>
        {{ keysT('keys_subscriptions') }}
      </v-card-title>
      <v-card-subtitle>{{
        keysT('keys_organisationSettings')
      }}</v-card-subtitle>
      <v-card-text>
        <v-list lines="two">
          <v-list-item
            v-for="(subscription, subscriptionName) in subscriptionsWithStatus"
            :key="subscriptionName"
            :class="'subscription-item--' + subscriptionName"
          >
            <template #append>
              <subscription-status
                :subscription="(subscriptionName as string)"
                :active="subscriptionsWithStatus[subscriptionName].active"
                :loading="subscriptionsWithStatus[subscriptionName].updating"
                :member-id="memberId"
                @changeRequestConfirmed="onChangeSubscriptionConfirmed"
                @changeRequestStart="onChangeSubscriptionStart"
                @changeRequestCancelled="onChangeSubscriptionCancelled"
              ></subscription-status>
            </template>
            <v-list-item-title>
              {{
                keysT('subscription-row-label', {
                  name: subscriptionName,
                })
              }}
            </v-list-item-title>
            <v-list-item-subtitle></v-list-item-subtitle>
          </v-list-item>
        </v-list>
      </v-card-text>
    </v-card>
  </div>
</template>

<script setup lang="ts">
import {
  SUBSCRIPTIONS,
  Subscription,
  SubscriptionChangeRequest,
  SubscriptionsWithStatus,
} from '@/core/subscriptions';
import SubscriptionSwitch from './SubscriptionSwitch.vue';
import SubscriptionStatus from './SubscriptionStatus.vue';
import { useTranslationNamespace } from '@/composable/useI18n';
import { I18nNamespace } from '@/i18n';

const keysT = useTranslationNamespace(I18nNamespace.KeyManager);

const _props = defineProps<{
  memberId: number;
  subscriptionsWithStatus: SubscriptionsWithStatus;
}>();
const emit = defineEmits<{
  (e: 'updateRequest', request: SubscriptionChangeRequest): void;
  (e: 'spinnerRequest', request: SubscriptionChangeRequest): void;
  (e: 'spinnerStopRequest', request: SubscriptionChangeRequest): void;
}>();
const getSubscriptionTranslationKey = (subscription: Subscription): string =>
  `subscription-${subscription}`;
const onChangeSubscriptionConfirmed = (request: SubscriptionChangeRequest) => {
  request.active = !request.active;
  emit('updateRequest', request);
};
const onChangeSubscriptionStart = (request: SubscriptionChangeRequest) => {
  emit('spinnerRequest', request);
};
const onChangeSubscriptionCancelled = (request: SubscriptionChangeRequest) => {
  emit('spinnerStopRequest', request);
};
</script>

<style scoped>
.subscription-card .v-list-item {
  padding-left: 0;
}
</style>
