<template>
  <v-container
    v-if="layout.visible && hasData"
    fill-height
    :class="`${styles.verticalLayout.root}`"
    v-bind="vuetifyProps('v-container')"
  >
        <dispatch-renderer
          v-for="(element, index) in layout.uischema.elements"
          :key="`${layout.path}-${index}`"
          :schema="layout.schema"
          :uischema="element"
          :path="layout.path"
          :enabled="layout.enabled"
          :renderers="layout.renderers"
          :cells="layout.cells"
        />
  </v-container>
</template>

<script lang="ts">
import {
  uiTypeIs,
  JsonFormsRendererRegistryEntry,
  Layout,
  rankWith,
} from '@jsonforms/core';
import {computed, defineComponent} from 'vue';
import {
  DispatchRenderer,
  rendererProps,
  useJsonFormsLayout,
  RendererProps,
} from '@jsonforms/vue';
import { useVuetifyLayout } from '@pvale/vue-vuetify';
import { VContainer, VRow, VCol } from 'vuetify/components';
import {containsPrimitiveValue} from "@/utils/helpers";

const layoutRenderer = defineComponent({
  name: 'review-vertical-layout-renderer',
  methods: {containsPrimitiveValue},
  components: {
    DispatchRenderer,
    VContainer,
    VRow,
    VCol,
  },
  props: {
    ...rendererProps<Layout>(),
  },
  setup(props: RendererProps<Layout>) {
    const layout = useVuetifyLayout(useJsonFormsLayout(props));
    const hasData = computed(() => containsPrimitiveValue(layout.layout.value.data))
    return {
      ...layout,
      hasData
    }
  },
});

export default layoutRenderer;

export const entry: JsonFormsRendererRegistryEntry = {
  renderer: layoutRenderer,
  tester: rankWith(2, uiTypeIs('VerticalLayout')),
};
</script>
