a<template>
  <review-array-layout-renderer v-bind="$props">
    <template #actions="actionsProps">
      actions
    </template>
    <template #toolbar-elements>
      elements
    </template>
  </review-array-layout-renderer>
</template>

<script lang="ts">
import {
  ControlElement,
  JsonFormsRendererRegistryEntry,
  withIncreasedRank,
} from '@jsonforms/core';
import { rendererProps } from '@jsonforms/vue';
import {
  arrayLayoutRendererEntry,
} from '@pvale/vue-vuetify';
import ReviewArrayLayoutRenderer from '@/forms/components/renderers/review/ReviewArrayLayoutRenderer.vue'
import { VTooltip, VIcon, VBtn } from 'vuetify/components';
import { defineComponent } from 'vue';
const controlRenderer = defineComponent({
  name: 'CustomArrayRenderer',
  components: {
    ReviewArrayLayoutRenderer,
    VTooltip,
    VIcon,
    VBtn,
  },
  props: {
    ...rendererProps<ControlElement>(),
  },
});
export default controlRenderer;
export const entry: JsonFormsRendererRegistryEntry = {
  renderer: controlRenderer,
  tester: withIncreasedRank(1, arrayLayoutRendererEntry.tester),
};
</script>

<style scoped>
/* Let the container within item headers grow as much as possible */
::v-deep button > .container {
  max-width: 100%;
}
/* Hide the 'no-data' indicator */
::v-deep .array-list-no-data {
  display: none;
}
</style>
