<template>
  <div v-if="control.data">
  <v-locale-provider>
    <control-wrapper
      ref="wrapperRef"
      v-bind="controlWrapper"
      :styles="styles"
      :isFocused="isFocused"
      :appliedOptions="appliedOptions"
    >
      <v-row>
        <v-col v-if="!appliedOptions.hideHorizontalLabel" cols="12" sm="4" md="3" class="field-label pb-0 pb-sm-4">
          {{ computedLabel }}
        </v-col>
        <v-col cols="12" :sm="appliedOptions.hideHorizontalLabel ? 12 : 8" :md="appliedOptions.hideHorizontalLabel ? 12 : 9">
          <v-hover v-slot="{ isHovering }">
            <info-text v-if="false" :msg="infoText.msg" :learn-more-link="infoText.link" :title="computedLabel"/>
            <p>{{ control.data }}</p>
          </v-hover>
        </v-col>
      </v-row>
    </control-wrapper>
    <v-divider class="my-2"/>
  </v-locale-provider>
  </div>
</template>

<script lang="ts">
import {ControlElement, isStringControl, JsonFormsRendererRegistryEntry, rankWith,} from '@jsonforms/core';
import {computed, defineComponent, inject, ref,} from 'vue';
import {rendererProps, RendererProps, useJsonFormsControl,} from '@jsonforms/vue';
import {ControlWrapper, DisabledIconFocus, useVuetifyControl,} from '@pvale/vue-vuetify';
import {VCombobox, VHover, VTextField} from 'vuetify/components';
import isArray from 'lodash/isArray';
import every from 'lodash/every';
import isString from 'lodash/isString';
import {JsonFormsI18nStateSymbol} from '@/constants/injectionKeys';
import {env} from '@/env';
import {useInfoText} from "@/forms/compositions";
import InfoText from "@/forms/components/common/InfoText.vue";
import {useDisplay} from "vuetify";

const controlRenderer = defineComponent({
  name: 'ReviewTextRenderer',
  methods: {ref},
  components: {
    InfoText,
    ControlWrapper,
    VHover,
    VTextField,
    VCombobox,
  },
  directives: {
    DisabledIconFocus,
  },
  props: {
    ...rendererProps<ControlElement>(),
  },
  setup(props: RendererProps<ControlElement>) {
    const wrapperRef = ref(null);
    const isDevMode = env().isDevMode;
    const i18n = inject(JsonFormsI18nStateSymbol, null);
    const vControl = useVuetifyControl(
      useJsonFormsControl(props),
      (value) => value || undefined,
      300
    );

    const infoText = useInfoText(vControl, i18n);
    const description = computed(() => {
      return infoText.msg.value ? '' : vControl.control.value.description;
    });

    return {
      ...vControl,
      isDevMode,
      wrapperRef,
      infoText,
      description,
    };
  },
  computed: {
    suggestions(): string[] | undefined {
      const suggestions = this.control.uischema.options?.suggestion;

      if (
        suggestions === undefined ||
        !isArray(suggestions) ||
        !every(suggestions, isString)
      ) {
        // check for incorrect data
        return undefined;
      }
      return suggestions;
    },
  },
});

export default controlRenderer;

export const entry: JsonFormsRendererRegistryEntry = {
  renderer: controlRenderer,
  tester: rankWith(1, isStringControl),
};
</script>

<style>
.help-text a {
  color: inherit;
}
.field-label {
  font-size: 1rem;
}
</style>
