<template>
  <div>
    <span v-if="rorId === true">{{
      t('ror.no_associated_ror_id', undefined)
    }}</span>
    <a v-if="typeof rorId === 'string'" :href="rorId" target="_blank">
      <ror-icon height="24px" />
      {{ rorId }}
    </a>
  </div>
</template>

<script lang="ts">
import { useTranslator } from '@pvale/vue-vuetify';
import { defineComponent } from 'vue';
import RorIcon from './RorIcon.vue';

export default defineComponent({
  name: 'RorId',
  components: {
    RorIcon,
  },
  props: {
    rorId: {
      type: [String, Boolean],
      default: false,
    },
  },
  setup() {
    const t = useTranslator();
    return {
      t,
    };
  },
});
</script>

<style scoped>
div {
  display: flex;
  padding-top: 0;
  padding-right: 0;
  flex-wrap: nowrap;
  justify-content: flex-end;
  min-height: 24px;
}
a {
  display: flex;
  align-content: center;
  column-gap: 0.5em;
}
span {
  font-style: italic;
}
</style>
