<template>
  <array-layout-renderer v-bind="$props">
    <template #actions="actionsProps">
      <v-tooltip location="bottom">
        <template #activator="{ props }">
          <v-spacer />
          <v-btn
            color="primary"
            variant="outlined"
            :aria-label="actionsProps.labels.add"
            :class="actionsProps.styles.arrayList.addButton"
            :disabled="actionsProps.addDisabled"
            v-bind="props"
            @click="actionsProps.addClick"
          >
            <v-icon>mdi-plus</v-icon> {{ actionsProps.labels.add }}
          </v-btn>
        </template>
        {{ actionsProps.labels.add }}
      </v-tooltip>
    </template>
  </array-layout-renderer>
</template>

<script lang="ts">
import {
  ControlElement,
  JsonFormsRendererRegistryEntry,
  withIncreasedRank,
} from '@jsonforms/core';
import { rendererProps } from '@jsonforms/vue';
import {
  arrayLayoutRendererEntry,
} from '@pvale/vue-vuetify';
import ArrayLayoutRenderer from "@/forms/components/renderers/ArrayLayoutRenderer.vue";
import { VTooltip, VIcon, VBtn } from 'vuetify/components';
import { defineComponent } from 'vue';
const controlRenderer = defineComponent({
  name: 'CustomArrayRenderer',
  components: {
    ArrayLayoutRenderer,
    VTooltip,
    VIcon,
    VBtn,
  },
  props: {
    ...rendererProps<ControlElement>(),
  },
});
export default controlRenderer;
export const entry: JsonFormsRendererRegistryEntry = {
  renderer: controlRenderer,
  tester: withIncreasedRank(1, arrayLayoutRendererEntry.tester),
};
</script>

<style scoped>
/* Let the container within item headers grow as much as possible */
/deep/ button > .container {
  max-width: 100%;
}
/* Hide the 'no-data' indicator */
/deep/ .array-list-no-data {
  display: none;
}
</style>
