<template>
  <div class="spacer"></div>
</template>

<script lang="ts">
import {
  JsonFormsRendererRegistryEntry,
  rankWith,
  uiTypeIs,
} from '@jsonforms/core';
import {} from '@jsonforms/vue';
import { defineComponent } from 'vue';

const spacerRenderer = defineComponent({
  name: 'SpacerRenderer',
});

export default spacerRenderer;

export const entry: JsonFormsRendererRegistryEntry = {
  renderer: spacerRenderer,
  tester: rankWith(1, uiTypeIs('Spacer')),
};
</script>
