<script setup lang="ts">
import LoginBox from '@/components/login-box/LoginBox.vue';
import { useRouteResolver } from '@/composable/useRouteResolver';
import { useAuthService } from '@/statemachines/auth.machine';
import { useRoute, useRouter } from 'vue-router';

// Define props, including the redirect query
const props = defineProps({
  redirect: String, // This will get the redirect query parameter
});

const route = useRoute();
const routeResolver = useRouteResolver()
const redirectPath = route.query.redirect || '/';
// Log to see if props are correctly passed
console.log('Redirect Path:', redirectPath);
const router = useRouter();
const goCancel = () => {
  const path = routeResolver.getCDSAuthCancelRoute()
  router.push(path); // Navigate to the redirectPath
};
const goRedirect = () => {
  const path = routeResolver.getRedirectRoute()
  router.push(path); // Navigate to the redirectPath
};

const { state, send } = useAuthService();

</script>
<template>
  <LoginBox :auth-send="send" :auth-state="state" @cancel="goCancel" @success="goRedirect"></LoginBox>
</template>
