<template>
  <v-app>
    <ErrorDialog />
  </v-app>
</template>

<script setup lang="ts">
/**
 * Test Harness for Error dialogs
 */
import { ref, watch } from 'vue';
import { VApp } from 'vuetify/components';
import ErrorDialog from "@/components/ErrorDialog.vue";
import { Dialog, useDialogStore } from '@/stores/dialogs';
import { DepositSubmissionAuthenticationError, DepositSubmissionError, XmlConversionBadInputError, XmlConversionError } from '@/errors';

const props = defineProps<{
  dialog: Dialog,
  errorInfo: {
    name: string,
    message: string,
  }
}>()

console.log(props.dialog.error.message)
const dialogStore = useDialogStore();

/**
 * 
 * JS error object have non-enumerable properties that don't show up in Vue's reactivity
 * system in the way that other object properties do, as Vue can't track them.
 * Passing an Error as a prop results in an empty object, when it gets converted to a reactive proxy.
 * Therefore the specific error must be passed as an Error name, which is mapped to an error class here,
 * and a message.
 * 
 * @param errorInfo 
 */
const createErrorInstance = (errorInfo) => {
  switch (errorInfo.name) {
    case 'XmlConversionBadInputError':
      return new XmlConversionBadInputError(errorInfo.message);
    case 'XmlConversionError':
      return new XmlConversionError(errorInfo.message);
    case 'DepositSubmissionError':
      return new DepositSubmissionError(errorInfo.message);
    case 'DepositSubmissionAuthenticationError':
      return new DepositSubmissionAuthenticationError(errorInfo.message);
    default:
      return new Error(errorInfo.message);
  }
};

watch(props.dialog, (() => {
  dialogStore.showDialog(createErrorInstance(props.errorInfo), props.dialog.callback, props.dialog.secondaryActionText || '', props.dialog.closeOnCallback)
}),
{ immediate: true }
)
</script>
