<script setup lang="ts">
import {computed} from "vue";
import {useTranslationNamespace} from "@/composable/useI18n";
import {I18nNamespace} from "@/i18n";

const STATE_GENERATE_XML = 'generateXML';
const STATE_DEPOSIT_RECORD = 'depositRecord';

const props = defineProps<{
  submissionState?: string;
}>()
const t = useTranslationNamespace(I18nNamespace.ContentRegistration);
// Show the dialog when there is a submissionState prop, and it matches a relevant state
const showDialog = computed(() => {
  return !!(props.submissionState && [STATE_DEPOSIT_RECORD, STATE_GENERATE_XML].includes(props.submissionState));
})
const message = computed(() => {
  switch(props.submissionState) {
    case STATE_GENERATE_XML:
      return t('status-generating-xml-message');
    case STATE_DEPOSIT_RECORD:
      return t('status-depositing-record-message');
    default:
      return '';
  }
})
</script>

<template>
  <v-dialog
    :model-value="showDialog"
    max-width="320"
    persistent
  >
    <v-list
      class="py-2"
      color="primary"
      elevation="12"
      rounded="lg"
    >
      <v-list-item
        :title="message"
      >
        <template v-slot:prepend>
          <div class="pe-4">
            <v-icon size="25" color="crossref_dark_blue">$logo</v-icon>
          </div>
        </template>

        <template v-slot:append>
          <v-progress-circular
            color="primary"
            indeterminate="disable-shrink"
            size="16"
            width="2"
          ></v-progress-circular>
        </template>
      </v-list-item>
    </v-list>
  </v-dialog>
</template>
