<template>
  <v-menu location="top">
    <template v-slot:activator="{ props }">
      <v-btn color="primary" dark v-bind="props">
        {{ nsT('submit_complete_button_restart_text') }}
      </v-btn>
    </template>

    <v-list nav>
      <v-list-item @click="handleAction(PostDepositAction.SameJournal)">
        <v-list-item-title>In the same Journal</v-list-item-title>
        <v-list-item-subtitle>{{ journalTitle }}</v-list-item-subtitle>
        <template v-slot:prepend
        ><v-icon>mdi-book-open-page-variant</v-icon></template
        >
      </v-list-item>
      <v-list-item @click="handleAction(PostDepositAction.SameIssue)">
        <v-list-item-title>In the same Issue</v-list-item-title>
        <v-list-item-subtitle>{{ issueNumber }}</v-list-item-subtitle>
        <template v-slot:prepend
        ><v-icon>mdi-page-next-outline</v-icon></template
        >
      </v-list-item>
      <v-list-item @click="handleAction(PostDepositAction.NewJournal)">
        <v-list-item-title>In a new Journal</v-list-item-title>
        <template v-slot:prepend>
          <v-icon>mdi-book-open-blank-variant-outline</v-icon></template
        >
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script setup lang="ts">
import { PostDepositAction, PostDepositActionType } from '@/common/types';
import { useTranslationNamespace } from '@/composable/useI18n';
import { I18nNamespace } from '@/i18n';
import { defineEmits, defineProps } from 'vue';

const nsT = useTranslationNamespace(I18nNamespace.ContentRegistration);

const props = defineProps<{
  journalTitle?: string,
  issueNumber?: string
}>()

const emits = defineEmits<{
  (event: 'action-selected', action: PostDepositActionType): void;
}>();

function handleAction(action: PostDepositActionType) {
  emits('action-selected', action);
}
</script>
