<script setup lang="ts">
import {TranslationComponent} from "i18next-vue";
import {useTranslationNamespace} from "@/composable/useI18n";
import {I18nNamespace} from "@/i18n";
import AppLink from "./AppLink.vue";
import { useAppStore } from "@/stores/app";
import RecordDownloadAlert from "./RecordDownloadAlert.vue";
import GetHelpButton from "./GetHelpButton.vue";

// Using `any` for `formService` due to Xstate@4/TypeScript limitations in inferring types for dynamically 
// retrieved state machines from `appService.state.value.children`.
const _props = defineProps<{
  formService: any
}>();

const t = useTranslationNamespace(I18nNamespace.ContentRegistration);
const appStore = useAppStore()
const helpUrl = appStore.getHelpUrl;
</script>

<template>
  <v-alert v-if="formService" variant=flat color="">
    <TranslationComponent :translation="t('record-edit-banner-text')">
      <template #download-action>
        {{ t('action-download') }}
      </template>
      <template #documentation-link>
        <AppLink :to="helpUrl">{{ t('documentation') }}</AppLink>
      </template>
    </TranslationComponent>
    <template #append>
      <GetHelpButton :url="appStore.getHelpUrl"></GetHelpButton>
    </template>
  </v-alert>
  <RecordDownloadAlert :form-service="formService" class="pt-0"></RecordDownloadAlert>
</template>
