<template>
  <div>
    <v-menu :persistent="!true" :close-on-content-click="false">
      <template #activator="{ props }">
        <v-btn variant="outlined" color="primary" v-bind="props"
          ><v-icon dark>mdi-human</v-icon></v-btn
        >
      </template>
      <v-card>
        <v-card-text class="d-flex flex-shrink-1">
          <v-row>
            <v-col cols="12">
              <ThemeSwitch />
              <FormStyleFillSwitch />
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-menu>
  </div>
</template>

<script setup lang="ts">
import ThemeSwitch from './ThemeSwitch.vue';
import FormStyleFillSwitch from './FormStyleFillSwitch.vue';
</script>

<style scoped>

</style>
