<template>
  <div>
    <a :href="URL_DOCS_RECORD_MANAGEMENT_TOOL" :title="accessibleName" target="_blank" rel="noopener">
      <v-icon :icon="Icons.Help" color="primary" size="x-large"></v-icon>
      <visually-hidden>{{ accessibleName }} ({{ newTabWarning }})</visually-hidden>
    </a>
  </div>
</template>

<script setup lang="ts">
import {useTranslationNamespace} from '@/composable/useI18n';
import {Icons} from '@/constants/icons';
import {I18nNamespace} from '@/i18n';
import {ToolBarItem} from '@/stores/toolbar';
import {computed} from 'vue';
import {URL_DOCS_RECORD_MANAGEMENT_TOOL} from "@/constants/urls";
import VisuallyHidden from "@/components/VisuallyHidden.vue";

const _props = defineProps<ToolBarItem>();
const emit = defineEmits<{
  (event: 'executeCallback', data?: any): void;
}>();

const t = useTranslationNamespace(I18nNamespace.ContentRegistration);
const accessibleName = computed(() => {
  if (_props.l10nKey) {
    return t(_props.l10nKey);
  }
});
const newTabWarning = t('opens-in-new-tab')
</script>
