<template>  
<v-fade-transition>
  <v-btn icon v-if="icon" :aria-label="btnLabel">
    <v-icon :icon="icon" color="primary" size="large" @click="emit('executeCallback')"></v-icon>
  </v-btn>
</v-fade-transition>

</template>

<script setup lang="ts">
import { useTranslationNamespace } from '@/composable/useI18n';
import { I18nNamespace } from '@/i18n';
import { ToolBarItem } from '@/stores/toolbar';
import { computed } from 'vue';

const _props = defineProps<ToolBarItem>()
const emit = defineEmits<{
  (event: 'executeCallback', data?: any): void;
}>()

const t = useTranslationNamespace(I18nNamespace.ContentRegistration)
const btnLabel = computed(() => {
  if (_props.l10nKey) {
    return t(_props.l10nKey)
  }
})

</script>
