<script setup lang="ts">
import ContentRegistrationForm from "@/views/ContentRegistrationForm.vue";
import {useRouter} from "vue-router";
import {ContentRegistrationFormPayload, ContentRegistrationType} from "@/common/types";
import {getRecordFromDraftsOrSession} from "@/utils/helpers";
import {useAppService} from "@/statemachines/app.machine";
import {useSessionStore} from "@/stores/session";
import {useActor} from "@xstate/vue";
import {onMounted, onUnmounted, Ref, ref, watch} from "vue";
import {RouteNames} from "@/router";
import {useNotificationStore} from "@/stores/notifications";
import {env} from "@/env";
import {useSingleRouteParam} from "@/composable/useSingleRouteParam";
import {useTranslation} from "@/composable/useI18n";
import {DepositResponse} from "@/utils/deposit";
import {setGetHelpUrl} from "@/utils/routes";
import {URL_DOCS_RECORD_MANAGEMENT_TOOL} from "@/constants/urls";
import {usePageTitle} from "@/composable/usePageTitle";

const t = useTranslation();
const router = useRouter();
const pageTitle = usePageTitle()

setGetHelpUrl(URL_DOCS_RECORD_MANAGEMENT_TOOL);
const appService = useAppService();
const sessionStore = useSessionStore();
const notificationStore = useNotificationStore();
const formDataService = useActor(
  appService.state.value.children.formDataMachine
);

const recordId = useSingleRouteParam('id')
const record: Ref<ContentRegistrationFormPayload | null> = ref(null);

const setPageTitle = () => {
  switch (record.value?.recordType) {
    case ContentRegistrationType.JournalArticle:
      pageTitle.setTitle(t('records-register-journal-article'));
      break;
    case ContentRegistrationType.Grant:
      pageTitle.setTitle(t('records-register-grant'));
      break;
    default:
      pageTitle.setTitle(t('record-registration-cta'));

  }
}

// Fetch and set form data
const fetchAndSetRecord = async (recordId: string | undefined) => {
  if (!recordId) {
    record.value = null;
    return;
  }

  // Fetch the record from drafts or session
  record.value = getRecordFromDraftsOrSession(recordId);

  if (!record.value) {
    notificationStore.addNotification(
      t("records-could-not-find-record-for-id", { recordId })
    );
    router.replace({ name: RouteNames.records.index });
  }
};

// Watch for route param changes
watch(
  recordId,
  (newId, oldId) => {
    if (newId !== oldId) {
      fetchAndSetRecord(newId);
      setPageTitle();
    }
  }
);

// Fetch record on initial mount
onMounted(() => {
  fetchAndSetRecord(recordId.value);
  setPageTitle();
});

const handleDepositCompletion = (recordId: string, response: DepositResponse) => {
  const { currentRecord, depositResponse } = formDataService.state.value.context;
  console.debug('Deposit complete handled', recordId, response);
  if (depositResponse?.status !== 'success') {
    // Take no action after an unsuccessful deposit
    return;
  }
  if (sessionStore?.currentRecord?.recordId === recordId) {
    // User is still editing the same record
    router.push({
      name: RouteNames.records.complete,
      params: {
        recordId: recordId,
      },
    });
  } else {
    // User has navigated away from this record. Show a notification.
    notificationStore.addNotification(t('records-your-deposit-completed'));
  }
};

const handleSubmit = (event) => {
  console.debug('Submit handled', event);
  if (!sessionStore.currentRecord) {
    notificationStore.addNotification(t('records-no-current-record-found'));
    return;
  }
  const recordId = sessionStore.currentRecord?.recordId;
  formDataService.send({
    type: 'SUBMIT_RECORD',
    record: sessionStore.currentRecord,
    formData: event.data,
  });
  watch(
    () => formDataService.state.value.context.lastDepositResponse,
    (newValue, oldValue) => {
      if (newValue && newValue !== oldValue) {
        handleDepositCompletion(recordId, newValue);
      }
    }
  );}

onUnmounted(() => {
  try {
    sessionStore.clearCurrentRecord();
  } catch (error) {
    console.error('Error clearing session data:', error);
  }
})
</script>
<template>
  <v-btn v-if="env().isDevMode" @click="handleSubmit">Submit</v-btn>
  <ContentRegistrationForm v-if="record && record.recordType" :record-id="recordId" :record-type="record.recordType" @submit="handleSubmit"></ContentRegistrationForm>
  <div v-else>{{ t('records-no-current-record-found') }}</div>
</template>
