<template>
  <span>
    <v-row class="mt-1">
      <v-col cols="12" lg="6">
        <v-card>
          <v-card-title data-test="content_registration.home.title">{{
            nsT('records_home_title')
          }}</v-card-title>
          <v-card-subtitle>{{ nsT('home_subtitle') }}</v-card-subtitle>
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-row>
                  <v-col cols="4">
                    <router-link
                      :to="{ name: RouteNames.records.new }"
                    >
                      <v-btn class="mt-8 pl-16 pr-16" color="primary">{{
                        nsT('home_new_record_button_text')
                      }}</v-btn>
                    </router-link>
                  </v-col>
                </v-row>
                <v-divider class="mt-8"></v-divider>
                <v-row>
                  <v-col cols="4">
                    <v-btn
                      class="mt-8 pl-16 pr-16"
                      color="primary"
                      variant="outlined"
                      @click="handleFileImport"
                      >{{ nsT('home_load_record_button_text') }}</v-btn
                    >
                    <!-- Create a File Input that will be hidden but triggered with JavaScript -->
                    <input
                      ref="uploader"
                      class="d-none"
                      type="file"
                      @change="onFileChanged"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <div>
                      {{ nsT('home_load_record_button_description') }}
                    </div>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <portal to="footer-prepend-content">
      <v-container slim fluid class="">
        <v-row no-gutters>
          <v-col cols="12">
            <v-card>
              <v-card-text>
                Thanks to the Gordon
                and Betty Moore Foundation for funding the
                research and development of the grant registration form.
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </portal>
  </span>
</template>

<script lang="ts">
/* eslint no-console: ["error", { allow: ["warn"] }] */
import {defineComponent, onBeforeUnmount, onMounted, ref} from 'vue';
import { useAppService } from '@/statemachines/app.machine';
import { useActor } from '@xstate/vue';
import {useTranslation, useTranslationNamespace} from '@/composable/useI18n';
import { I18nNamespace } from '@/i18n';
import {useSessionStore} from "@/stores/session";
import {extractErrorMessageAsync} from "@/utils/error/extractMessage";
import {useRouter} from "vue-router";
import {RouteNames} from "@/router";
import {useNotificationStore} from "@/stores/notifications";
import {setGetHelpUrl} from "@/utils/routes";
import {URL_DOCS_RECORD_MANAGEMENT_TOOL} from "@/constants/urls";
import {usePageTitle} from "@/composable/usePageTitle";

export default defineComponent({
  name: 'Home',
  computed: {
    RouteNames() {
      return RouteNames
    }
  },
  setup() {
    const router = useRouter();
    const nsT = useTranslationNamespace(I18nNamespace.ContentRegistration);
    usePageTitle().setTitle(nsT('record-registration-title'));
    setGetHelpUrl(URL_DOCS_RECORD_MANAGEMENT_TOOL);
    const sessionStore = useSessionStore();
    const notificationStore = useNotificationStore();
    const appService = useAppService();
    const formDataService = useActor(
      appService.state.value.children.formDataMachine
    );
    const isSelecting = ref(false);
    const onFileChanged = async (e: Event) => {
      const target = e.target as HTMLInputElement;
      const file = target.files?.[0];
      if (file) {
        await loadAndRedirect(file)
      }
    };

    const onDragOver = (e: DragEvent) => {
      e.preventDefault();
    }

    const onDrop = async (e: DragEvent) => {
      e.preventDefault();
      const files = e?.dataTransfer?.files;
      if (files?.[0]) {
        await loadAndRedirect(files?.[0])
      }
    };

    const loadAndRedirect = async (file) => {
      try {
        const record = await sessionStore.loadRecordFromFile(file);
        router.push({ name: RouteNames.records.edit, params: { recordType: record.recordType, id: record.recordId } });
      } catch (error) {
          notificationStore.addNotification(await extractErrorMessageAsync(error) || "Error loading record.");
      }
    }

    // Register event listeners on mount
    onMounted(() => {
      window.addEventListener('dragover', onDragOver);
      window.addEventListener('drop', onDrop);
    });

    // Remove event listeners before the component is unmounted
    onBeforeUnmount(() => {
      window.removeEventListener('dragover', onDragOver);
      window.removeEventListener('drop', onDrop);
    });

    return { formDataService, isSelecting, nsT, onFileChanged };
  },
  methods: {
    handleFileImport() {
      this.isSelecting = true;

      // After obtaining the focus when closing the FilePicker, return the button state to normal
      window.addEventListener(
        'focus',
        () => {
          this.isSelecting = false;
        },
        { once: true }
      );

      // Trigger click on the FileInput
      /* eslint-disable-next-line @typescript-eslint/ban-ts-comment */
      // @ts-ignore
      this.$refs.uploader.click();
    }
  },
});
</script>
