<template>
  <span>
    <v-row class="mt-1">
      <v-col cols="12" lg="6">
        <v-card v-if="shouldShowRecordSelectionScreen">
          <v-card-title>{{ nsT('new_record_selection_title') }}</v-card-title>
          <v-card-subtitle class="text-wrap">{{
            nsT('new_record_selection_subtitle')
          }}</v-card-subtitle>
          <v-card-text>
                <v-select
                  :items="recordList"
                  :model-value="getRecordType"
                  @update:model-value="sendRecordType"
                  @keyup.enter="sendContinue"
                  data-test="new_record_type_dropdown"
                />
                <v-card-actions>
                  <v-row>
                    <v-col cols="12" md="6">
                      <v-btn
                        block
                        color="primary"
                        variant="outlined"
                        data-test="new_record-type_select-button-cancel"
                        @click="newRecordMachine.send('CANCEL')"
                        >{{ $t('button_cancel_label') }}</v-btn
                      >
                    </v-col>
                    <v-col cols="12" md="6">
                      <v-btn
                        block
                        color="primary"
                        data-test="new_record-type_select-button-continue"
                        @click="newRecordMachine.send('CONTINUE')"
                        >{{ $t('button_continue_text') }}</v-btn
                      >
                    </v-col>
                  </v-row>
              </v-card-actions>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </span>
</template>

<script lang="ts">
import {computed, defineComponent, onMounted, ref, watchEffect} from 'vue';
import { StateValue } from 'xstate';
import { ContentRegistrationType } from '@/common/types';
import { useMachine } from '@xstate/vue';
import { newRecordMachine as newRecordMachineDefintion } from '@/statemachines/create-record.machine';
import { useInspector } from '@/statemachines/utils';
import { useTranslationNamespace } from '@/composable/useI18n';
import { env } from '@/env';
import { useAlert } from '@/composable/useAlert';
import { I18nNamespace } from '@/i18n';
import { useFormMachine } from '@/composable/useFormMachine';
import {useRoute, useRouter} from 'vue-router';
import { generateUuid } from '@/utils/ids';
import { RouteNames } from '@/router';
import {createRecordWithId} from "@/utils/helpers";
import {useRecordStore} from "@/stores/records";
import {useSingleRouteParam} from "@/composable/useSingleRouteParam";
import {useSessionStore} from "@/stores/session";
import {setGetHelpUrl} from "@/utils/routes";
import {URL_DOCS_RECORD_MANAGEMENT_TOOL} from "@/constants/urls";
import {usePageTitle} from "@/composable/usePageTitle";

export default defineComponent({
  name: 'NewRecord',
  setup(_props, _context) {
    const route = useRoute();
    const nsT = useTranslationNamespace(I18nNamespace.ContentRegistration);
    usePageTitle().setTitle(nsT('record-registration-cta'));
    const { alertError } = useAlert();
    const formService = useFormMachine();
    const router = useRouter();
    // const step = ref(1);
    const newRecordMachine = useMachine(newRecordMachineDefintion, {
      devTools: useInspector(),
    });
    const sessionStore = useSessionStore();
    setGetHelpUrl(URL_DOCS_RECORD_MANAGEMENT_TOOL);
    const shouldShowRecordSelectionScreen = computed(() => {
      // If a recordType is provided via route parameters, skip this screen
      // as the selection is already determined and the flow can proceed.
      return !route.params.recordType;
    });
    const recordTypes = computed(() => {
      if (env().isJournalArticleFormEnabled) {
        return [
          ContentRegistrationType.JournalArticle,
          ContentRegistrationType.Grant,
        ];
      } else {
        return [ContentRegistrationType.Grant];
      }
    });
    const recordList = recordTypes.value.map((recordType) => ({
      value: recordType,
      title: nsT(`record_types_${recordType}_display_name`) || recordType,
    }));
    const context = computed(() => newRecordMachine.state.value.context);
    const step = computed(() => context.value.step);
    const sendContinue = () => {
      newRecordMachine.send('CONTINUE');
    };
    const isContentRegistrationType = (
      type: string
    ): type is ContentRegistrationType => {
      return Object.values(ContentRegistrationType).includes(
        type as ContentRegistrationType
      );
    };
    const sendRecordType = (value: string) => {
      if (isContentRegistrationType(value)) {
        newRecordMachine.send({
          type: 'RECORD_TYPE_CHOSEN',
          recordType: value,
        });
      } else {
        console.error('Invalid record type:', value);
        alertError(`Invalid record type ${value}`);
      }
    };
    const sendRecordName = (event: FocusEvent) => {
      newRecordMachine.send({
        type: 'RECORD_NAME_UPDATED',
        /* eslint-disable-next-line @typescript-eslint/ban-ts-comment */
        // @ts-ignore
        recordName: event.target.value,
      });
    };
    watchEffect(async () => {
      console.log('watch change:', newRecordMachine.state.value.value);
      if (newRecordMachine.state.value.matches('complete')) {
        const recordType = newRecordMachine.state.value.context.recordType as ContentRegistrationType;
        const recordId = generateUuid();
        // reset form data machine context
        formService.send('RESTART');
        // create the new record and store it as a draft
        sessionStore.setCurrentRecord(createRecordWithId(
          recordId,
          recordType,
          {}
        ));
        router.push({
          name: RouteNames.records.edit,
          params: {
            id: recordId
          },
        });
      }
    });
    onMounted(() => {
      if (route.params.recordType) {
        sendRecordType(useSingleRouteParam('recordType').value);
        sendContinue();
      }
    })
    // return properties - these get merged with data() below
    return {
      newRecordMachine,
      recordList,
      sendRecordType,
      sendRecordName,
      step,
      context,
      sendContinue,
      nsT,
      shouldShowRecordSelectionScreen,
    };
  },
  computed: {
    getRecordType(): string {
      return this.newRecordMachine.state.value.context.recordType;
    },
    hasRecordType(): boolean {
      return this.getRecordType !== undefined;
    },
    newRecordState(): StateValue {
      return this.newRecordMachine.state.value.value;
    },
    getRecordName(): string {
      /* eslint-disable-next-line @typescript-eslint/ban-ts-comment */
      // @ts-ignore
      const rn = this.newRecordMachine.state.context.recordName ?? '';
      return rn;
    },
  },
  methods: {},
});
</script>

<style lang="css" scoped>
  .v-stepper-vertical-item__avatar {
    display: none !important;
  }
</style>
