<template>
  <control-wrapper
    v-bind="controlWrapper"
    :styles="styles"
    :isFocused="isFocused"
    :appliedOptions="appliedOptions"
  >
    <v-hover v-slot="{ isHovering, props }">
      <horizontal-label-wrapper applied-options="appliedOptions" v-bind="props">
        <template #label>{{ computedLabel }}</template>
        <info-text :msg="infoText.msg" :learn-more-link="infoText.link" :title="computedLabel"/>
          <v-select
            v-disabled-icon-focus
            :id="control.id + '-input'"
            :class="styles.control.input"
            :disabled="!control.enabled"
            :autofocus="appliedOptions.focus"
            :placeholder="appliedOptions.placeholder"
            :label="computedLabel"
            :hint="infoText.description"
            :persistent-hint="persistentHint()"
            :required="control.required"
            :error-messages="control.errors"
            :clearable="isHovering"
            :model-value="control.data"
            :items="control.options"
            :item-title="(item) => t(item.label, item.label)"
            item-value="value"
            v-bind="vuetifyProps('v-select')"
            @update:modelValue="onChange"
            @focus="isFocused = true"
            @blur="handleBlur"
          />
    </horizontal-label-wrapper>
    </v-hover>
  </control-wrapper>
</template>

<script lang="ts">
import {
  ControlElement,
  isEnumControl,
  JsonFormsRendererRegistryEntry,
  rankWith,
} from '@jsonforms/core';
import {
  rendererProps,
  RendererProps,
  useJsonFormsEnumControl,
} from '@jsonforms/vue';
import {defineComponent, inject, ref} from 'vue';
import { VHover, VSelect } from 'vuetify/components';
import { useTranslator, useVuetifyControl } from '@pvale/vue-vuetify';
import { ControlWrapper } from '@pvale/vue-vuetify';
import { DisabledIconFocus } from '@pvale/vue-vuetify';
import HorizontalLabelWrapper from "@/forms/components/renderers/HorizontalLabelWrapper.vue";
import InfoText from "@/forms/components/common/InfoText.vue";
import {JsonFormsI18nStateSymbol} from "@/constants/injectionKeys";
import {useInfoText} from "@/forms/compositions";

const controlRenderer = defineComponent({
  name: 'enum-control-renderer',
  methods: {ref},
  components: {
    InfoText,
    HorizontalLabelWrapper,
    ControlWrapper,
    VSelect,
    VHover,
  },
  directives: {
    DisabledIconFocus,
  },
  props: {
    ...rendererProps<ControlElement>(),
  },
  setup(props: RendererProps<ControlElement>) {
    const t = useTranslator();

    const control = useVuetifyControl(useJsonFormsEnumControl(props), (value) =>
      value !== null ? value : undefined
    );

    const i18n = inject(JsonFormsI18nStateSymbol, null);
    const infoText = useInfoText(control, i18n);

    return { ...control, infoText, t };
  },
});

export default controlRenderer;

export const entry: JsonFormsRendererRegistryEntry = {
  renderer: controlRenderer,
  tester: rankWith(2, isEnumControl),
};
</script>
