<template>
  <div>
    <h3>{{ title }}: {{ errors.length }}</h3>
    <ul>
      <li v-for="error in errors">
        {{ error.instancePath }}: {{ error.message }}
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';
import {ErrorObject} from "ajv";
const props = defineProps<{
  title: string;
  errors: ErrorObject[];
}>();
</script>
