<template>
  <v-app>
    <json-forms
      :data="data"
      :schema="schema"
      :uischema="uischema"
      :renderers="renderers"
      :config="config"
      @change="onChange"
    />
  </v-app>
</template>

<script lang="ts">
/**
 * Test harness for Json Schema backed forms.
 * Targets the library directly, without using our wrapper component.
 */
import { defineComponent, ref } from 'vue';
import { JsonForms, JsonFormsChangeEvent } from '@jsonforms/vue';
import { VApp } from 'vuetify/components';
import {JsonSchema, UISchemaElement} from "@jsonforms/core";

export default defineComponent({
  name: 'TestComponent',
  components: {
    JsonForms,
    VApp,
  },
  setup() {
    // Define props
    const props = defineProps<{
      initialData: Record<any, any>;
      schema?: JsonSchema;
      uischema?: UISchemaElement;
      config?: Record<string, any>;
      initialRenderers: Array<any>;
    }>();

    // Define emits
    const emit = defineEmits<{
      (event: 'update:data', data: any): void;
    }>();

    // Reactive state
    const data = ref(props.initialData);
    const renderers = ref(props.initialRenderers);

    // Event handlers
    const onChange = (event: JsonFormsChangeEvent) => {
      data.value = event.data;
      emit('update:data', event.data);
    };

    return { data, renderers, onChange, ...props };
  },
});
</script>
